body, h1, h2, h3, p, ul, li {
    margin: 0;
    padding: 0;
}

body {
    font-family: 'Arial', sans-serif;
}

/* Company Header Styles */
.company-header {
    background: linear-gradient(to right, #5a96b3, #90a6b2, #6e7884);
    color: white;
    text-align: center;
    padding: 10px;
}

.company-header .logo img {
    max-width: 100%;
    height: auto;
}

.company-header .slogan {
    font-style: italic;
    margin-top: 10px;
}

/* Main Header Styles */
.main-header {
    background: linear-gradient(to right, #5a96b3, #90a6b2, #6e7884); /* Use the same colors as the logo section */
    color: white;
    text-align: center;
    padding: 20px;
}

/* Navigation Bar Styles */
nav {
    background: linear-gradient(to right, #333, #0e4d68);
}

nav ul {
    list-style-type: none;
    display: flex;
    justify-content: space-around;
    padding: 15px 0;
}

nav a {
    text-decoration: none;
    color: white;
    font-weight: bold;
}

/* About Section Styles */
.about-section {
    position: relative;
    padding: 30px;
    background: linear-gradient(to right, #f4f4f4, #e6e6e6);
    width: 60%;
    float: left;
    margin-right: 5%;
}

.about-section h2 {
    color: #5a96b3;
}

.about-section strong {
    font-size: 1.2em;
    color: #555;
}

/* Quick Links Styles */
.quick-links {
    position: relative;
    width: 35%; /* Increase the width */
    float: right;
    text-align: center;
    padding: 30px; /* Increase the padding */
    margin-top: 30px;
}

.quick-links a {
    display: block;
    margin-bottom: 10px;
    padding: 15px 20px; /* Adjust the padding for better spacing */
    background: linear-gradient(to right, #333, #0e4d68);
    color: white;
    text-decoration: none;
}

/* Site Plan Styles */
.site-plan {
    clear: both;
    padding: 30px;
    background: linear-gradient(to right, #f4f4f4, #e6e6e6);
}

.site-plan h2 {
    color: #5a96b3;
}

/* Footer Styles */
footer {
    text-align: center;
    padding: 20px;
    background: linear-gradient(to right, #5a96b3, #90a6b2, #6e7884);
    color: white;
}
